@font-face {
    font-family: 'custom-roboto';
    src: url('fonts/RobotoCondensed-Bold.ttf');
}

body {
    /*
    tho do i need to give u the specific font to add? cuz if so i still haven't
    decided. sure ill find a nice font hold on
    */
    font-family: 'custom-roboto';
    margin: 0;
    background-color: #312d38;
    color: white;
    overflow: hidden;
}

/* User is on mobile*/
.warning {
    border-radius: 20px;
    background-color: #413b4a;
    -webkit-filter: drop-shadow(0px 0px 5px #222);
    filter: drop-shadow(0px 0px 10px #222);
    text-align: center;
    height: fit-content;
    width: 75%;
    transform: translate(15%);
    padding: 10px;
}

/* User is on a computer*/
@media only screen and (max-width: 600px) {
    .warning {
        width: 75%;
    }
}

.header {
    padding: 2px;
    text-align: left;
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.296);
    color: rgba(249, 249, 249);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.900);
    font-size: 30px;

    background: url("bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: xx-large;
    line-height: 100%;
}

h2 {
    line-height: 0px;
    margin-left: 1px;
    text-align: center;
    font-size: large;
}

h3 {
    font-size: medium;
    color: #999;
    line-height: 40px;
    text-align: center;
}